API_BASE_URL=http://127.0.0.1:8000
NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8000
INTERNAL_API_BASE_URL=http://127.0.0.1:8000
OPENAPI_OUTPUT_FILE=../local-shared-data/openapi.json

NEXT_PUBLIC_USE_MOCK_API=false
USE_MOCK_API=false

NEXT_PUBLIC_DEV_LOGIN_PREFILL=false
NEXT_PUBLIC_DEV_LOGIN_EMAIL=admin@example.com
NEXT_PUBLIC_DEV_LOGIN_PASSWORD=admin123
